h1 {

}

img {
    width: 200px;
    height: 200px;
}

.ocean {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, #1d3557, #457b9d)
}

.bubble {
   width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  background-color: #f1faee; 
    bottom: -30px;
  /* opacity: 0.2; */
  animation: bubble 15s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}